* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: rgb(51, 11, 11);
}

.site {
    background: rgba(255, 255, 255, 0.877);
    margin: 100px auto;
    padding: 60px;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
}

.site h1 {
    color: rgb(19, 22, 22);
    border-bottom: solid black 2px;
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
}

.quiz {
    padding: 15px 0;
}

.quiz h2 {
    padding: 20px 0;
    color: rgb(19, 22, 22);
}

.btn {
    color: black;
    padding: 6px;
    border: solid black 1px;
    background: white;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
    
} 

#next-btn {
    background-color: rgb(51, 11, 11);
    color: antiquewhite;
    width: 100px;
    padding: 10px;
    margin: 10px auto 0;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
.btn:hover{
    background-color: rgb(5, 39, 39);
    color: antiquewhite;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}