* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: rgb(51, 11, 11);
}

.site {
    background: rgba(255, 255, 255, 0.877);
    margin: 200px auto;
    padding: 60px;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
}